body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #a2e2f1;
  max-width: 600px;
  margin: 70px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 25px 60px rgba(65, 50, 100, 0.08);
}

form {
  display: block;
  margin-top: 0;
}

main {
  padding: 30px 0;
}

footer {
  text-align: center;
  color: #231e3a66;
}

a {
  color: #098ba1;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-app-details {
  color: #231e3a66;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.weather-app-details strong {
  color: #f65282;
}

.temperature {
  display: flex;
}

.search-input {
  background-color: #cbeef7;
  border: none;
  color: #27214266;
  font-size: 16px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
}

.search-button {
  width: 105px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #098ba1;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.icon {
  display: block;
  width: 88px;
  height: 88px;
  padding-right: 10px;
}

.value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
